.contactsList {
  font-family: Coiny;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid violet;
  border-radius: 12px;
  color: blueviolet;
}
.title {
  font-family: Coiny;
  font-size: 24px;
  font-weight: 400;
  color: blueviolet;
}
