.contactLi {
  display: grid;
grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
  gap: 4px;
  
}
.contact {
  margin-right: 8px;
}
.btnDelete {
  padding: 2px;
  font-size: 22px;
  font-weight: 400;
  border-color: transparent;
  outline: none;
  color: blueviolet;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.btnDelete:hover,
.btnDelete:focus {
  color: red;
  transform: scale(1.6);
  }
