.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 10px;
}

.username {
  font-weight: 700;
}
.btn {
  padding: 4px 16px;
  border-radius: 8px;
  border-color: white;
  background-color: blueviolet;
  color: white;
}
